<mat-card>
    <div class="div-main">
        <h1> Área de Administração Senac Atacadão</h1>
        <p-carousel 
        [value]="products" 
        [numVisible]="3" 
        [numScroll]="1" 
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
          <div class="carousel-item">
            <img 
              [src]="'assets/imgs/' + product.image" 
              [alt]="product.name" 
              class="carousel-image" />
      
            <div class="card-content">
              <div class="mb-3 font-medium">{{ product.name }}</div>
              <div class="mt-0 font-semibold text-xl">
                {{ '' + product.desc}}
                <br />
              </div>
            </div>
      
            <div class="card-buttons">
              <p-button styleClass="ml-2" [link]="true"><a 
                href="https://www.google.com/maps/place/Savegnago+Supermercados/@-22.9038463,-47.0679552,15z/data=!4m6!3m5!1s0x94c8c933721dbf6f:0x76d689e24f300dfd!8m2!3d-22.8974872!4d-47.0705996!16s%2Fg%2F11fp8zm10x?entry=ttu&g_ep=EgoyMDI0MTExNy4wIKXMDSoASAFQAw%3D%3D"
                target="_blank" rel="noopener noreferrer" class="p-button font-bold">
              Visualizar no Maps
            </a></p-button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    
        <h2 class="title-chart"> 
            Gráfico de funcionários:
        </h2>
        <div class="chart-pie"> 
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
            <p-fieldset legend="Sobre o gráfico">
                <p>
                O gráfico apresenta a distribuição de funcionários em diversas unidades de uma empresa.
                 Cada unidade está representada por uma barra colorida 
                (ou por outro elemento gráfico, dependendo do tipo de gráfico),
                 e o eixo vertical indica a quantidade de funcionários, enquanto o eixo horizontal representa as unidades.
                </p>

            <p>
             Esse gráfico facilita a análise de distribuição de pessoal, permitindo identificar possíveis disparidades ou a 
             necessidade de realocação de recursos humanos entre as unidades.
            </p>
            </p-fieldset>
        </div>
    </div>
    
</mat-card>
