<mat-card>
    <div class="div-main">
        <h1> Área de Administração Senac Atacadão</h1>
        <p-carousel 
        [value]="products" 
        [numVisible]="3" 
        [numScroll]="1" 
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
          <div class="carousel-item">
            <img 
              [src]="'assets/imgs/' + product.image" 
              [alt]="product.name" 
              class="carousel-image" />
      
            <div class="card-content">
              <div class="mb-3 font-medium">{{ product.name }}</div>
              <div class="mt-0 font-semibold text-xl">
                {{ '' + product.desc}}
                <br />
                {{ 'Quantidade de funcionários: ' + product.quant }}
              </div>
            </div>
      
            <div class="card-buttons">
              <p-button severity="secondary" [outlined]="true" label="editar"></p-button>
              <p-button styleClass="ml-2" label="visualizar"></p-button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    
        <h2 class="title-chart"> 
            Gráfico de funcionários:
        </h2>
        <div class="chart-pie"> 
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
            <p-fieldset legend="Sobre o gráfico">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p-fieldset>
        </div>
    </div>
    
</mat-card>