<mat-card>
    <div class="div-main">
    <form [formGroup]="signUpform">
        <div class="inside-register">
            <h1>Entrar</h1>
            <h2>Email</h2>
            <input type="email" pInputText formControlName="email" placeholder="email">
            <h2>Senha</h2>
            <input type="password" pInputText formControlName="pword" placeholder="Senha">
            <div class="button-mat-card">
                <p-button (onClick)="submit()"> Login </p-button>
            </div>
        </div>
        <div class="image">
            <img src=".">
        </div>
    
    </form>
    </div>
    </mat-card> 