<mat-toolbar>
    <button (click)="open()">
    <mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<div class="div-main">
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="sidenav"> Opened </mat-sidenav>
    <mat-sidenav-content> closed 
        <main class="main-content">
            <router-outlet></router-outlet>
        </main>
        <footer>
            <p>Copyright Senac TI 28.23</p>
        </footer>           
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
