footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #847577;
  width: 100%;
  height: 2em;
}
.sidenav-container {
  height: 100vh; /* Define a altura total da tela */
  display: flex; /* Usando flexbox para controlar o layout */
}
 
mat-sidenav {
  width: 250px; /* Largura da sidenav */
  flex-shrink: 0; /* Não permitir que a sidenav encolha */
}
.side-nav-div {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1.5em;
}
 
.side-nav-div a {
  text-decoration: none;
  font-size: 1.3em;
  transition: 0.2s;
}
 
.side-nav-div a:hover {
  transform: scale(1.03);
  color: #3e73cf;
}
 
.side-nav-div p-button {
  padding: 1em;
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* A área de conteúdo vai ocupar o espaço restante */
  background-color: #3e73cf;
}
 
.main-content {
  flex-grow: 1; /* O conteúdo principal ocupa o espaço restante */
  padding: 20px; /* Padding interno para o conteúdo */
  overflow-y: auto; /* Permite rolar o conteúdo principal, se necessário */
}
 
mat-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}