
<mat-card>
<div class="div-main">
<form [formGroup]="signUpform">
    <div class="inside-register">
        <h1>Cadastrar</h1>
        <h2>Nome</h2>
        <input pInputText formControlName="user" placeholder="Usuário">
        <h2>Email</h2>
        <input pInputText formControlName="email" placeholder="email">
        <h2>Senha</h2>
        <input pInputText formControlName="pword" placeholder="Senha">
        <div class="button-mat-card">
            <p-button (onClick)="submit()" > Registrar </p-button>
        </div>
    </div>
    <div class="image">
        <img src="https://v1.go.senac.br/portal/uploads/1161-06-08-2012_08-15-35marca1.jpg">
    </div>

</form>
</div>
</mat-card>